* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


main {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

lead-generation {
    margin-bottom: 40px;
    color: #ffffff;
}

brand-awareness {
    margin-bottom: 40px;
    color: #ffffff;
}

cost-management{
    margin-bottom: 40px;
    color: #ffffff;
}

lead-generation h3 {
    margin-bottom: 15px;
    text-align: center;
}

brand-awareness h3 {
    margin-bottom: 15px;
    text-align: center;
}

cost-managementh3 {
    margin-bottom: 15px;
    text-align: center;
}

lead-generation img {
    display: block;
    margin: 15px auto;
    max-width: 150px;
}

brand-awareness img {
    display: block;
    margin: 15px auto;
    max-width: 150px;
}

brand-awareness img {
    display: block;
    margin: 15px auto;
    max-width: 150px;
}

lead-generation {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    text-align: center;
    margin: 0 auto;
}

brand-awareness {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    text-align: center;
    margin: 0 auto;
}

cost-management {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    text-align: center;
    margin: 0 auto;
}


  footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}


